.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}
.App-title {
  font-size: 48px;
  margin-bottom: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}
input{ 
  border:none;
  outline-style: none;
  border-bottom: 2px solid rgb(160, 160, 160);
  -moz-appearance:textfield;
}
input:hover{ 
  border-bottom: 2px solid #000;
}
input:focus{ 
  border-bottom: 2px solid #000;
}

.search-input {
  height: 30px;
  width: 150px;
  font-size: 24px;
}

.search-button {
  width: 90px;
  height: 36px;
  font-size: 24px;
}

.qq-card {
  border: 1px solid #ccc7c7;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  background-color: #f3f3f3;
  background-color: #f3f3f3;
  width: 240px;
}
.qq-card .qq-logo {
  width: 60px;
  height: 60px;
}
.qq-card .qq-logo img {
  border-radius: 50%;
  height: 100%;
}
.qq-card .qq-info {
  width: 190px;
}
.qq-card .qq-name {
  font-size: 22px;
  margin-bottom: 6px;
}
.qq-card .qq-number {
  font-size: 20px;
  color: #666666;
}